<div class="p-4 bg-gray-100 rounded-lg shadow-md mb-4">
  <p class="font-bold">Titulo: <span class="text-gray-800"><%= tarea.titulo %></span></p>
  <p class="font-bold">Descripcion: <span class="text-gray-800"><%= tarea.descripcion %></span></p>
  <p class="font-bold">Completada: <span class="text-gray-800"><%= tarea.completada ? "Sí" : "No" %></span></p>
</div>
